/* src/components/Pokemon/PokemonSearch.module.css */

.searchContainer {
    width: 100%;
    position: relative; /* Importante para o Dropdown não quebrar a tela depois */
}

/* 👇 AQUI ESTÁ A MÁGICA QUE ENCORPA O INPUT 👇 */
.searchInput {
    width: 100%;
    padding: 14px 18px; /* É isso que deixa ele "gordinho" */
    font-size: 1.05rem;
    color: #333;
    border: 2px solid #e0e0e0;
    border-radius: 10px; /* Bordas arredondadas modernas */
    outline: none; 
    transition: all 0.3s ease; /* Animação suave ao clicar */
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    background-color: #fafafa;
    box-sizing: border-box; 
}

/* O efeito de acender em vermelho quando você clica para digitar */
.searchInput:focus {
    border-color: #ef5350; /* Vermelho Pokémon */
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(239, 83, 80, 0.2);
}

.searchInput::placeholder {
    color: #aaa;
}